.button{
    background-color: #1967b4;
    color: white;
    border-radius: 8px;
    border: 0px;
}
.button:hover{
    background-color: #177bc7;
}
.home{
    background-color: #f5fff0;
}
.card {
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.cards {
    transition: all 0.3s ease;
    cursor: pointer;
}

.cards:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.black-header th {
  background-color: #000 !important;
  color: #fff !important;
}
.urgent-food {
  background-color: #fff4f4 !important;
}